language: python
python:
  - 3.5
services: postgresql

env:
  - DJANGO=1.11.4

before_install:
   - export DB_PASSWORD=migombani
   - export DJANGO_SETTINGS_MODULE=Coke.settings
   - export PYTHONPATH=$HOME/builds/ErickMwazonga/e-Coke
   - export PIP_USE_MIRRORS=true

# command to install dependencies
install:
    - pip install -r requirements.txt
    - pip install django==$DJANGO --quiet
    - pip install psycopg2 --quiet

before_script:
    - psql -c "CREATE DATABASE coke;" -U postgres

# command to run tests
script:
    - python manage.py migrate
    - python manage.py test
