<!-- This is a partial list which is generically updated by create, update and delete -->
{% for brand in brands %}
  <tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ brand.collector_name }}</td>
    <td>{{ brand.respondent_name }}</td>
    <td>{{ brand.respondent_city }}</td>
    <td>{{ brand.get_favourite_drink_display }}</td>
    <td>{{ brand.date_of_collection }}</td>
    <td>
        <button type="button"
            class="btn btn-primary btn-sm js-update-brand"
            data-url="{% url 'ecoke:brand_update' pk=brand.id %}">
            <span class="glyphicon glyphicon-pencil"></span>
        </button>
        <button type="button"
            class="btn btn-danger btn-sm js-delete-brand"
            data-url="{% url 'ecoke:brand_delete' pk=brand.id %}">
           <span class="glyphicon glyphicon-trash"></span>
         </button>
    </td>
  </tr>
{% empty %}
    <tr>
      <td colspan="6" class="text-center bg-warning">No Brands</td>
    </tr>
{% endfor %}
