{% extends 'blogs/blog_base.html' %}

{% block title %}Blog Posts | e-Coke {% endblock %}

{% block heading %}
    <h3>
        <span class="fa fa-list-alt"></span>
        {% if tag_name %}
            Blog Posts in {{ tag_name|capfirst }}
        {% elif author_name %}
            Blog Posts By {{ author_name|capfirst }}
        {% else %}
            All Blog Posts
        {% endif %}

        {% if user.is_superuser %}
            <a href="{% url 'admin:blogs_blog_add' %}" class="">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </a>
        {% endif %}
    </h3>

{% endblock %}

{% block bcontent %}
    {% if blog_list %}
        {% for blog in blog_list %}
            <h4><a href="{% url 'blogs:blog_detail_view' blog.slug %}">{{ blog.title|capfirst }}</a></h4>
            <span class="text-muted">
                {% if blog.is_published %}
                    <span class="fa fa-calendar"></span> {{ blog.date_published|date:'F j, Y' }}
                {% else %}{{ blog.status|capfirst }}
                {% endif %}
                by
                <a href="{% url 'blogs:blog_author_list_view' blog.author.username %}">
                    {{ blog.author.username|title }}
                </a>
            </span>
            {% if user.is_superuser or blog.author == user %}
                <a href="{% url 'admin:blogs_blog_change' blog.id %}">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </a>
            {% endif %}

            <div>
                {% if blog.tags.exists %}
                    <p>
                        <span class="fa fa-tags"></span> <strong>Tags:</strong>
                        {% for tag in blog.tags.values %}
                            <a href="{% url 'blogs:blog_tag_list_view' tag.slug %}" class="label label-primary">{{ tag.name }}</a>
                            {# {% if not forloop.last %}, {% endif %}#}
                        {% endfor %}
                    </p>
                {% endif %}
            </div>

            <hr>
        {% endfor %}
    {% else %}
        <p class="lead">Nothing here at the moment, but please check back later!</p>
    {% endif %}

    {% if is_paginated %}
    <div class="row text-center">
        <ul class="pagination">
            {% if page_obj.has_previous %}
              <li><a href="{% url 'blogs:blog_list_view'%}?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
            {% endif %}
            {% for page_number in page_obj.paginator.page_range %}
              <li class={% if page_number == page_obj.number %}"active"{% else %}""{% endif %}>
                  <a href="{% url 'blogs:blog_list_view'%}?page={{ page_number }}">{{ page_number }}</a>
              </li>
            {% endfor %}
            {% if page_obj.has_next %}
              <li><a href="{% url 'blogs:blog_list_view'%}?page={{ page_obj.next_page_number }}">&raquo;</a></li>
            {% endif %}
        </ul>
    </div>
    {% endif %}
{% endblock %}
