<!-- Homepage -->

{% extends 'ecoke/base.html' %}

{% block title %} Home {{ block.super }}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-success alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
    </div>
    
    <div class="jumbotron">
        <div class="text-center">
            <h2 class="coke_name">COCA-COLA</h2>
            <h3 class="coke_app">e-Coke</h3>
            <br> This is a e-Coke Application where you can collect data based on brands...<br>
            <br>
            <a type="button" class="btn btn-primary" href={% url 'ecoke:brands' %}>
                Click Here to View e-Coke
            </a>
            <hr/>
            <div class="addthis_inline_share_toolbox_bpdq addthis"></div>
            
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %} 
    <!-- Go to www.addthis.com/dashboard to customize your tools --> 
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5a65ea1fdb069f81"></script>
{% endblock %}
