<!-- Homepage -->

{% extends 'ecoke/base.html' %}
{% load crispy_forms_tags %}

{% block title %} Home {{ block.super }}{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
     <h1>Account Settings</h1>
    </div>
    <div class="row" style="margin-top: 2em">
        <div class="col-md-3">
            {% include 'ecoke/includes/_settings_menu.html' with active='password' %}
        </div>
        
        <div class="col-md-9">
          <div class="panel panel-primary">
            <div class="panel-heading main-color-bg">
                <h3 class="panel-title">Change Password</h3>
            </div>
            <div class="cpanel panel-body settings-content">
                {% if messages %}
                  {% for message in messages %}
                    <div class="alert alert-success alert-dismissable">
                      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                      {{ message }}
                    </div>
                  {% endfor %}
                {% endif %}
                <form class="form-horizontal" role="form" action="" method="post">
                  {% csrf_token %}
                  {{ form.id }}
                  {{ form|crispy }}
                    <button class="btn btn-primary" type="submit" name="button">Save</button>
                </form>
            </div>
          </div>  

        </div>

    </div>
</div>
{% endblock %}
