{% extends 'ecoke/base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block title %} Home {{ block.super }}{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
     <h1>Account Settings</h1>
    </div>
    <div class="row" style="margin-top: 2em">
        <div class="col-md-3">
            {% include 'ecoke/includes/_settings_menu.html' with active='profile' %}
        </div>

        <div class="col-md-9">
            <div class="panel panel-primary">
                <div class="panel-heading main-color-bg">
                    <h3 class="panel-title">Profile</h3>
                </div>
                <div class="cpanel panel-body settings-content">
                    {% if messages %}
                      {% for message in messages %}
                        <div class="alert alert-success alert-dismissable">
                          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                          {{ message }}
                        </div>
                      {% endfor %}
                    {% endif %}
                    <div class="well well-sm">
                        <div class="row">
                            <div class="col-sm-6 col-md-4">
                                {% if user.profile.avatar %}
                                  <img src="{{ user.profile.avatar.url }}" class="img-rounded img-responsive">
                                {% else %}
                                  <img src="{% static 'ecoke/images/avatar.png' %}" class="img-rounded img-responsive">
                                {% endif %}
                            </div>
                            <div class="col-sm-6 col-md-8">
                                <h4>{{ user.profile.get_screen_name | title }}</h4>

                                {% if user.profile.job_title %}
                                <h5>{{ user.profile.job_title | capfirst }}</h5>
                                {% endif %}

                                {% if user.profile.location %}
                                <i class="glyphicon glyphicon-map-marker"></i>{{ user.profile.location }}
                                {% endif %}

                                <p>
                                    {% if user.profile.bio %}
                                    <i class="glyphicon glyphicon-user"></i>{{ user.profile.bio }}
                                    {% endif %}

                                    <br />
                                    <i class="glyphicon glyphicon-envelope"></i>{{ user.email }}
                                    <br />
                                </p>
                                <a href="{% url 'ecoke:edit_profile' %}" class="btn btn-primary" type="button" name="button">Edit</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
{% endblock %}
